<div class="card">
  <div class="card__picture">
    <picture>
      <source [srcset]="imgAvifUrl" type="image/avif"class="card__img">
      <source [srcset]="imgWebpUrl" type="image/webp"class="card__img">
      <img loading="lazy" [src]="imgPngUrl" class="card__img" alt="Дротаверин">
    </picture>
  </div>
  <div class="card__content">
    <h3 class="card__description">{{ card.description | truncate:[100, '...'] }}</h3>
    <div class="packing">
      <span class="packing__item active">28 шт</span>
      <span class="packing__item">56 шт</span>
    </div>
    <div class="production">
      <p class="production__item">{{ card.name }}</p>
      <span class="production__item">{{ card.manufacturer }}</span>
      <span class="production__item">{{ card.country }}</span>
    </div>
    <div class="total">
      <a href="" class="total__link">
        Все спазмолитические
        <svg class="svg-icon">
          <use xlink:href="/assets/img/svg/sprite.svg#arrow-left"></use>
        </svg>
      </a>
      <a href="" class="total__link">
        С таким же веществом
        <svg class="svg-icon">
          <use xlink:href="/assets/img/svg/sprite.svg#arrow-left"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="actions">
    <span class="price">83 ₽</span>
    <button class="btn-primary">В корзину</button>
    <a href="" class="btn-link">
      Купить в 23 аптеках
    </a>
  </div>
</div>
